*.bin
*.out

sources/generated/*

sources/DLoader/Objects/*
sources/DLoader/Listings/*
sources/DLoader/DebugConfig/*

sources/Device/Objects/*
sources/Device/Listings/*
sources/Device/DebugConfig/*

sources/Panel/Objects/*
sources/Panel/Listings/*
sources/Panel/DebugConfig/*

sources/ThirdParty/wxWidgets/generated/*
